* {
    box-sizing: border-box; 
}  

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0px;
    background-color: white;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: black;
}

/**************************************************************/
/* Specific Stylings */

.header {
    padding: 2rem;
    padding-top: 4.5rem;
    text-align: center;
    background-image: linear-gradient(45deg, #006d77 10%,#e29578);
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
}

.header-headlines {
    font-size: 4rem;
}

.header-name {
    font-size: 1em;
}

.subheadline {
    font-size: .25em;
    padding-bottom: 2rem;
}

.subheadline::before {
    content: "🐻 ";
}

.subheadline::after {
    content: " 🐻";
}
 
.main {
    max-width: 70ch;
    margin: 0 auto; /* This brings the text within the max width so left and right have the same margin*/
    padding: 1rem;
}

.main > * + * {
    margin-top: 2rem;
}

.main > * {
    padding-left: 1rem; 
    border-top: .3rem solid #006d77;
}

.main > *:first-child {
    border-top: none;
}

.article-header {
    margin-left: -1rem;
/*     position: relative;
    left: -1rem;
 */
} 

.skill-list {
    padding-left: 2em;
    padding-bottom: 1em;  
    margin-left: 1em;
    list-style-image: linear-gradient(to left bottom, rgb(56, 128, 128), white);
}

.experience-header {
    display: flex;
    flex-direction: column;
}

.experience-subheading {
    display: inline-block;
}

.hire-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: white;
    background-color: rgb(44, 43, 43);
}

.footer {
    margin-top: 2rem;
    padding: 2rem; /* Hier will der Gradiant nicht */
    background-image: linear-gradient(135deg,#006d77 10%,#e29578);
    color: white; 
}

.footer-text {
    margin: 0px;
    text-align: center;
}

.footer-link {
    color: white; /* Warum bekomme ich das nicht weiß? Überschreibt die a class das von oben? */
}


/**************************************************************/
/* Navigations Stylings (Reihenfolge einhalten, da sonst der Status nicht übernommen wird.)*/

.navigation-box {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /*Elements size depends on text lenght */
    /* text-align: center; Don´t no if this is needed? */
}

.navigation:link {
    margin-left: 1rem; /* Das würde ich gerne noch zentrieren und den Margin vom ersten Element wegbekommen. Versucht mit Child hat nicht geklappt */
    align-items: center;
    color: rgb(56, 128, 128);
    background-color: antiquewhite;
}

.navigation:visited {
    color: rgb(36, 38, 45);
}

.navigation:hover {
    color: white;
    background-color: rgb(46, 54, 54);
}

.navigation:active {
    background-color: blueviolet;
}

/**************************************************************/
/* Pseudo Elements und Selection styling */

::selection { /* Wenn man Text markieren will */ 
    color: white;
    background-color: rgb(56, 128, 128);
}

/**************************************************************/
/* Breakpoints */

@media screen and (min-width: 786px) {
    html {
        font-size: 18px;
    }

    .main > * + * {
        margin-top: 3rem;
    }

    .navigation-box {
        flex-direction: row;
        justify-content: center;
    }

    .navigation:link + .navigation:link {
        margin-left: 1rem;
    }

    .experience-header {
        display: flex;
        flex-direction: row;
        align-items: baseline; /* Bringt den Text auf eine Linie */ 
        justify-content: space-between; /* Schiebt das Flexelement nach recht an den Rand. Verteilt quasi die Elemente auf der Breite. */

    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }

    .hire-button {
        position: fixed;
    }
}

/* Print Anpassungen */ 

@media print {
    .navigation-box {
        display: none;
    }

    .hire-button {
        display: none;
    }
}