* {
   box-sizing: border-box; 
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0px;
}

/**************************************************************/
/* Specific Stylings */

.header {
    padding: 50px 10px;
    text-align: center;
    color: white;
    background-color:rgb(56, 128, 128);
}

.main {
    max-width: 600px;
    margin: 0 auto; /* This brings the text within the max width so left and right have the same margin*/
    padding: 20px;
}

.skill-list {
    padding-left: 40px;
    margin-left: 0;
    font-size: 100%;
    list-style-image: linear-gradient(to left bottom, rgb(56, 128, 128), white);
  }